.group {
  position: relative;
  perspective: 1200px;
  transform-style: preserve-3d;
}

.group::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateZ(112px);
}

.group:hover .card3d {
  transform: rotateX(90deg);
}

.card3d {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(.22, 1, .36, 1), filter 0.3s;
  will-change: transform;
}

.face {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  pointer-events: none;
}

.front {
  transform: translateZ(112px);
}

.back {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: rotateX(-90deg) translateZ(112px);
}